h1.title {
	background-color: navy;
	color: white;
	padding: 10px;
	text-align: center;
}
h2.author {
	text-align: right;
}
p.image {
	text-align: center;
}
p.image img {
	width: 860px;
}
a:link {
	color: green; 
	/* unvisited link color */
}
a:visited {
	color: grey;
	/* visited link color */
}
a:hover {
	color: pink;
	/* mouse hover color(カーソルがのったときの色) */
}
a:active {
	color: red;
	/* マウスをかざしてから押すまでの色 */
}
div.text {
	width: 860px;
	margin: 0 auto;
	/* text-alignと違って、ブロックごと動かせる。 */
	/* paddingと違って、余白が上下左右にできる */
}
p.copy{
	text-align: center;
}
span.cast{
	font-weight: 700;
	/* norma font size = 400 */
}
.main{
	color: blue;
	/* htmlではcast main, cast subとしてクラスを追加*/
	/* この書き方の方が、検索が簡単らしい */
}
.sub{
	color:blueviolet;
}


/* 罫線の追加 */
/* ブラウザ独自の値のリセット */
hr{
	border: 0;
	height: 0;
	margin: 0;
	padding: 0;
}
/* 今回の罫線のスタイル */
.separator{
	border-top: 3px dotted navy;
}

/* リストを横書きにしてみる */
ul.books{
	
	display: flex;
	padding-left: 0;
}
li.book{
	/* ちょぼなし */
	list-style: none;
	background-color: lightgrey;
	padding: 10px;
	margin-right: 10px;

}