h1.title {
	background-color: navy;
	color: white;
	padding: 10px;
	text-align: center;
}
h2.author {
	text-align: right;
}
p.image {
	text-align: center;
}
p.image img {
	width: 860px;
}
a:link {
	color: green; 
	/* link color */
}
a:visited {
	color: grey;
	/* visited link color */
}
a:hover {
	color: pink;
	/* mouse hover color(カーソルがのったときの色) */
}